main section.products-show {

  textarea#review_description {
    width: 100%;
  }

  #review-form {
    border-top: solid 1px #c0c0c0;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  div.display-reviews {
    border-top: solid 1px #c0c0c0;
    margin-top: 2vh;
    padding-top: 2vh;
  }

}